<!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewprot" content="sith=device-width, initial-scale=1.0">

	<script src="/js/main.js"></script>
    <title>Document</title>
  <head>
  <body>
    환영합니다.
    <button>로그인</button>
  </body>
  </html>
