<!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewprot" content="sith=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/login.css">
	<script src="/js/register.js" defer></script>
    <title>Document</title>
  </head>
  <body>
  <div class="login-page">
  <div class="form">
    <form class="register-form">
      <input id="id" type="text" placeholder="name"/>
      <input id="password" type="password" placeholder="password"/>
      <input id="email" type="text" placeholder="email address"/>
      <button id="registerBtn">create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>
  </body>
  </html>

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
